.flex-container(data-bind="template: { name: 'flex-list', foreach: items },\
        style:{\
        display:cPropsCurrent.display,\
        flexWrap:cPropsCurrent.flexWrap,\
        flexDirection:cPropsCurrent.flexDirection,\
        justifyContent:cPropsCurrent.justifyContent,\
        alignContent:cPropsCurrent.alignContent,\
        alignItems:cPropsCurrent.alignItems,\
        backgroundColor:cPropsDefault.backgroundColor,\
        width:cPropsCurrent.width\
        }")