.flex-item.animated(ng-style='{}')
  a.fi-destroy-btn(ng-click='destroySelf')
    i.fa.fa-times
  a.fi-settings-btn(ng-click='toggleSettings')
    i.fa.fa-cog
  span.fi-index {{index}}
  p.fi-content {{ content }}
  .fi-options
    div.fi-o-title
      a(ng-click='item.isFixedWidth=true') fixed
      | or
      a(ng-click='item.isFixedWidth=false') flexy
      |  width?
    div(ng-switch='item.isFixedWidth')
      .fi-options-fixed(ng-switch-when='true')
        label
          | width:
          input(type='text' ng-model='item.css.width.defaults.fixed')
        label
          | height:
          input(type='text' ng-model='item.css.height.defaults.fixed')
      .fi-options-flexy(ng-switch-when='false')
        label
          | flex-grow:
          input(type='text' ng-model='item.css.flexGrow.defaults.flexy')
        label
          | flex-shrink:
          input(type='text' ng-model='item.css.flexShrink.defaults.flexy')
        label(for='')
          | flex-basis:
          input(type='text' ng-model='item.css.flexBasis.defaults.flexy')